div {
  font-family: sans-serif;
  float: left;
  margin: 10px;
  padding: 5px;
  box-shadow: 3px 3px 4px #000;
}

.vector {
  background: #159;
  min-width: 20px;
  min-height: 20px;
}

.map {
  background: #AAB;
  min-width: 20px;
  min-height: 20px;
}

.set {
  background: #575;
  min-width: 20px;
  min-height: 20px;
}

.key {
  background: #F66;
  margin-right: -7px;
  /*clear: both;*/
}

.value {
  background: #644;
  margin-left: 0px;
  padding: 0px;
}

.index {
  background: #DA6;
  margin-right: -7px;
  clear: both;
}

.string {
  background: #FFD;
}

.keyword {
  background: #FAB;
}

.type {
  background: #BBF;
}